.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
.scrutinizer.yml export-ignore
.jshintrc export-ignore
.editorconfig export-ignore
phpcs.xml.dist export-ignore
phpstan.xml.dist export-ignore
