<?xml version="1.0" encoding="utf-8"?>
<phpunit
    bootstrap="./tests/bootstrap.php" 
    colors="true" 
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true" 
    convertWarningsToExceptions="true" 
    processIsolation="false"
    stopOnFailure="false" 
    strict="true" 
    syntaxCheck="false" 
    timeoutForMediumTests="30"
    timeoutForSmallTests="10" 
    verbose="true"
>
    <php>
        <ini name="memory_limit" value="-1" />
        <ini name="apc.enable_cli" value="1" />
    </php>
    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="App Test Suite">
            <directory>./tests/TestCase</directory>
        </testsuite>
        <!-- Add plugin test suites here. -->
    </testsuites>
    <logging>
        <log target="build/logs/clover.xml" type="coverage-clover" />
        <log logIncompleteSkipped="false" target="build/logs/junit.xml" type="junit" />
    </logging>
    <!-- Setup a listener for fixtures -->
    <listeners>
        <listener class="\Cake\TestSuite\Fixture\FixtureInjector"
        file="./vendor/cakephp/cakephp/src/TestSuite/Fixture/FixtureInjector.php">
            <arguments>
                <object class="\Cake\TestSuite\Fixture\FixtureManager" />
            </arguments>
        </listener>
    </listeners>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
