<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         colors="true"
         verbose="true"
         strict="true"
         timeoutForSmallTests="10"
         timeoutForMediumTests="30"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         >
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app/Controller/</directory>
            <directory suffix=".php">app/Model/</directory>
            <directory suffix=".php">app/View/</directory>
        </whitelist>
    </filter>
</phpunit>
