name: Lint and analyse php files

permissions:
  contents: read

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master

jobs:
    lint-php:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Use PHP 8.4
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.4
            - name: Validate composer.json and composer.lock
              run: composer validate
            - name: Cache module
              uses: actions/cache@v5
              with:
                  path: ~/.composer/cache/
                  key: composer-cache
            - name: Install dependencies
              run: composer install
            - name: Lint files
              run: composer run phpcs

    analyse-php:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Use PHP 8.4
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.4
            - name: Cache module
              uses: actions/cache@v5
              with:
                  path: ~/.composer/cache/
                  key: composer-cache
            - name: Install dependencies
              run: composer install
            - name: Analyse files
              run: composer run phpstan
